<!-- success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start your anonymous social life!</title>
    <link rel="stylesheet" href="../static/success.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <form name="message" id="signUpForm" action="/chat" method="post">
        <div id="anonydiv">
            <img id="anony" src="../static/images/anomy.png" >
            <button id="searchButton">Pair up!</button>
        </div>
    </form>
    <!-- You can customize this page as needed -->
</body>
</html>
