#anonydiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
}

#anony {
    width: 200px;
    height: 200px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.97;
    width: 200px;
    border-radius: 11%;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(77, 212, 145, 0.549);
    font-size: x-large;
    color: #fefeff;
    border-color: #1af2f2;
}

body{
    background-image: url('../static/images/questionmarks.jpg');
}